/* latin-ext */
/* Add your @font-face rules here as before */

/* Base styles */
body, td, th, tr, p, a, ul, li, h1, h2, h3, h4, h5, h6, strong, em {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px; /* Default font size for all screen sizes */
}

/* Links */
a {
  color: #1772d0;
  text-decoration: none;
}

a:focus, a:hover {
  color: #f09228;
  text-decoration: none;
  outline: 2px solid #1772d0;
}

/* Title section */
.title-section {
  text-align: center;
  margin-top: 40px; /* Adjust the margin as needed for spacing */
}

.large-title {
  font-size: 48px; /* Adjust the font size as needed */
  font-weight: 700;
  color: #000; /* Adjust the color as desired */
  margin-bottom: 20px; /* Add margin below the large title */
}

/* About Me section */
section h1 {
  margin-bottom: 30px; /* Reduce margin below "About Me" heading */
}

section h2 {
  font-size: 16px; /* Adjust the font size as needed */
   display: inline-block; 
}

/* Image styling */
img {
  max-width: 100%;
  height: auto;
}




/* Image size adjustments for tablets */
@media screen and (min-width: 768px) {
  img {
    max-width: 80%;
  }
}

/* Image size adjustments for desktops */
@media screen and (min-width: 1024px) {
  img {
    max-width: 60%;
  }
}

/* Publication styles */
.publication {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.publication h3 {
  margin-top: 0;
}

.publication p em {
  font-style: italic;
}

/* Updates and Publications */
section ul li {
  font-size: 16px;
  line-height: 1.6;
}

section ul li strong {
  font-weight: 700; /* Adjust as needed */
}

/* Default padding for all screen sizes */
.section {
  padding: 20px;
}

/* Padding adjustments for tablets */
@media screen and (min-width: 768px) {
  .section {
    padding: 30px;
  }
}

/* Padding adjustments for desktops */
@media screen and (min-width: 1024px) {
  .section {
    padding: 40px;
  }
}
